$breakpoint-min-extra-small: 544px;
$breakpoint-min-small: 768px;
$breakpoint-min-medium: 992px;
$breakpoint-min-large: 1200px;
$breakpoint-min-extra-large: 1400px;

$breakpoint-max-extra-small: 543px;
$breakpoint-max-small: 767px;
$breakpoint-max-medium: 991px;
$breakpoint-max-extra-large: 1399px;
