<section class="text--centralized">
    <div class="text--centralized" v-if="error">
        Sem conectividade com o backend, utilizando dados estáticos.
    </div>
    <div class="tile" v-for="i in products" v-link="{name: 'product', params: {productId: i.data.codigo}}">
        <div class="tile__selection-layer">
        </div>
        <img :src="i.photo" alt="" class="tile__item">
        </img>
        <p class="text--centralized">
            {{i.descricao}}
        </p>
    </div>
</section>