@import "../utilities";

.tile {
	border-radius: 2px;
	display: inline-block;
	/* offset-x | offset-y | blur-radius | spread-radius | color */
	box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.2);
	margin: .3rem;
	position: relative;
	background-color: #FFFFFF;
}

.tile__item {
	display: block;
	@extend .responsive-element;
}

.tile__selection-layer {
	display: block;
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: #000000;
	cursor: pointer;
	opacity: 0;
	transition: opacity .1s ease;

	&:hover {
		opacity: .1;
		/* property name | duration | timing function | delay */
		transition: opacity .3s ease;
	}

	&:active {
		opacity: .05;
		/* property name | duration | timing function | delay */
		transition: opacity .1s ease;
	}
}