@import "../core/utilities";
@import "../core/variables";
.product-panel {
    margin: 1rem 0 0 0;
    display: block;
    padding: 1rem;
    height: 100%;
    background-color: #FFFFFF;
    border: 1px solid #EEEEEE;
    border-radius: 2px;
    transition: margin .3s ease;
    @extend .text--centralized;
}

.product-panel__element {
    @extend .responsive-element;
    display: block;
    padding: .3rem;
}

.product-panel__description {
    @extend .product-panel__element;
    margin: 2rem 0;
}

//Utilizar um "photo frame" é a unica forma de garantir um max width preservando a 
//responsividade da classe "product-panel__photo".
.product-panel__photo-frame {
    display: inline-block;
    max-width: 500px;
}
.product-panel__photo {
    @extend .product-panel__element;
    padding: 0;
    margin: 0;
}

.product-panel__button-group {
    display: block;
    text-align: left;
}

@media all and (min-width: $breakpoint-min-extra-small) {
    .product-panel {
        margin-left: 10%;
        margin-right: 10%;
        transition: margin .3s ease;
    }
}

@media all and (min-width: $breakpoint-min-medium) {
    .product-panel {
        margin-left: 15%;
        margin-right: 15%;
        transition: margin .3s ease;
    }
}

@media all and (min-width: $breakpoint-min-large) {
    .product-panel {
        margin-left: 20%;
        margin-right: 20%;
        transition: margin .3s ease;
    }
}

@media all and (min-width: $breakpoint-min-extra-large) {
    .product-panel {
        margin-left: 25%;
        margin-right: 25%;
        transition: margin .3s ease;
    }
}