@import '../core/utilities';
$icons-color: lighten(#000, 33%);
$navbar-height: 3rem;
.navbar {
    height: $navbar-height;
    background-color: #B6BFD5;
    margin: 0;
    padding: 0;
}

.navar__element--right {
    float: right;
}

.navbar__button {
    text-decoration: none;
    vertical-align: middle;
    position: relative;
    display: inline-block;
    text-align: center;
    outline: none;
    background-color: #B6BFD5;
    transition: background-color .3s ease;
    cursor: pointer;
    border: none;
    color: $icons-color;
    height: $navbar-height - $navbar-height*.15;
    width: auto;
    padding: $navbar-height*.15 1rem 0 1rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    &:hover {
        background-color: lighten(#B6BFD5, 10%);
        transition: background-color .2s ease;
        height: $navbar-height*1.15;
        transition: height .2s ease;
        color: darken($icons-color, 10%);
        transition: color .2s ease;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}